.places {
    max-width: 985px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-device-width: 1280px) {
    .places {
        max-width: 928px;
    }
}
@media screen and (min-width: 768px) and (max-device-width: 1024px) {
    .places {
        max-width: 92%;
    }
}
@media screen and (min-device-width: 320px) and (max-width: 768px){
    .places {
        max-width: 92%;
    }
}