.place__image {
    max-width: 460px;
    object-fit: contain;
    margin-top: 48px;
    align-self: flex-start;
}

@media screen and (min-width: 768px) and (max-device-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}
@media screen and (min-device-width: 320px) and (max-width: 768px){
    .place__image {
        max-width: 92%;
    }
}