.lead {
    display: block;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-device-width: 1280px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (min-device-width: 320px) and (max-width: 1023px){
    .lead {
        max-width: 99%;
    }
}