.place__paragraphs {
    flex-direction: column;
    margin: 0;
    padding-top: 48px;
    padding-left: 40px;
    max-width: 484px;
}

@media screen and (min-width: 1024px) and (max-device-width: 1280px) {
    .place__paragraphs {
        max-width: 428px;
    }
}
@media screen and (min-width: 768px) and (max-device-width: 1023px) {
    .place__paragraphs {
        max-width: calc(100% - 28px - 440px);
        padding-left: 28px;
    }
}
@media screen and (min-device-width: 320px) and (max-width: 767px){
    .place__paragraphs {
        max-width: 92%;
        padding-top: 32px;
        padding-left: 0;
    }
}