.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    margin: 56px auto 0 auto;
}

@media screen and (min-width: 425px) and (max-device-width: 768px) {
    .lead__title {
        margin-top: 48px;
        font-size: 46px;
        line-height: 48px;
    }
}
@media screen and (min-device-width: 320px) and (max-width: 425px){
    .lead__title {
        width: 100%;
        margin-top: 48px;
        font-size: 40px;
        line-height: 44px;
    }
}