.cover {
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 92px;
}

.cover:hover {
    cursor: pointer;
}

@media screen and (max-width: 1279px){
    .cover {
        max-width: 100%;
    }
}
@media screen and (max-width: 1023px) {
    .cover {
        padding-top: 90px;
    }
}
@media screen and (max-width: 767px) {
    .cover {
        padding-top: 66px;
    }
}