.cover__overlay {
    z-index: 1;
    background-color: #2A2C2F4C;
    display: block;
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 100%;
}

.cover__overlay:hover {
    background-color: #2a2c2fcc;
    cursor: pointer;
}