.cover__background {
  max-width: 100%;
  min-height: inherit;
  position: relative;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__background::before {
  content: "";
  display: block;
  width: 100%;
  min-height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F4C;
}

.cover__background:hover::before {
  background: #2A2C2Fcc;
}