.place {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.place:nth-of-type(1) {
    padding-top: 92px;
}

@media screen and (min-width: 425px) and (max-device-width: 767px) {
    .place {
        flex-direction: column;
        padding-top: 72px;
    }
    .place:nth-last-of-type(1) {
        padding-top: 88px;
    }
}
@media screen and (min-device-width: 320px) and (max-width: 424px){
    .place {       
        padding-top: 50px;
    }
    .place:nth-last-of-type(1) {
        padding-top: 64px;
    }
}