.intro__title {
    max-width: 60%;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #fff;
    margin: 0;
    text-align: left;
}

@media screen and (min-width: 768px) and (max-device-width: 1280px) {
    .intro__title {
        font-size: 46px;
        line-height: 48px;
    }
}
@media screen and (min-width: 425px) and (max-device-width: 767px) {
    .intro__title {
        font-size: 40px;
        line-height: 44px;
    }
}
@media screen and (min-device-width: 320px) and (max-width: 424px) {
    .intro__title {
        font-size: 30px;
        line-height: 32px;
    }
}